body {

}

header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightseagreen;
}

#header-img {

}

#nav-bar {
    display: flex;
    flex-direction: row;
    margin-right: 150px;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
}

.nav-link {
    background-color: white;
    padding: 12px;
    border-radius: 10px;
    color: #20b2aa;
    font-family: Helvetica;
    text-decoration: none;
    font-size: x-large;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.5);
}

#main {

}

#video-section {

}

iframe {

}

#form-section {

}

form {

}

label {

}

#email {

}

#submit {

}

#purchase-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.product-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: lightgray;
    justify-content: center;
    margin: auto;
}

.product-info {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.product-title {
    text-align: center;
}

.product-img {
    margin: auto;
}

.product-button {
    text-align: center;
}

@media (max-width: 768px)
{

}