body {

}

header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#header-img {

}

#nav-bar {

}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
}

#main {

}

#video-section {

}

iframe {

}

#form-section {

}

form {

}

label {

}

#email {

}

#submit {

}

@media (max-width: 768px)
{

}